#container{
    background-color: yellow;
    display: grid;
    flex-direction: column;
    justify-items: center;

    width: 100%;
}
body{
    background-color: yellow;
}

.color{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: black;
    border: solid 1px black;
    margin: 2px;
}
h1{

    display: inline-flex;
}
#color-pallete{
    display: flex;
    width: 540px;
    height: 40px;
}

.pixel{
    width: 40px;
    height: 40px;
    border: solid 1px black;
    margin: -1px;
    overflow-wrap: normal;
}

#pixel-board{
    display: flex;
    flex-wrap: wrap;
}
#input-area, #clear-board{
    margin: 10px;
}